
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>
            body {
                background-color: #e1f0fa;
            }

            td {
                border: 0.3px solid black;
                height: 30px;
                width: 30px;
            }

            table {
                border: 5px solid black;
            }

            .title {
                text-align: center;
            }

            .header {
                margin: auto;
                text-align:center;
                width: 360px;
            }

            .best-score {
                border-top: 0.1px solid black;
                border-right: 0.1px solid black;
                border-left: 0.1px solid black;
                text-align: left;
                padding: 5px;
            }

            .current-score {
                border: 0.1px solid black;
                text-align:left;
                padding: 5px;
            }

            .board {
                margin: auto;
                background-image: url(http://www.animatedimages.org/data/media/188/animated-dragon-image-0204.gif);
                background-size: cover;
            }

            .next-pieces {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            .next-piece {
                width: 100px;
                height: 80px;
                margin: 5px;
                padding: 5px;
                border: 0.5px solid black;
                display:inline-block;
            }

        </style>

        <title>Dragon Drop</title>
    </head>

    <body>
        <h1 class="title">Dragon Drop</h1>

        <div class="main">
            <div class="header">
                <div class="best-score">Best 2291</div>
                <div class="current-score">Score 0</div>
            </div>

            <div class="board-frame">
                <div id="board"></div>
            </div>

            <div class="next-pieces">
                <div class="next-piece">NEXT PIECE 1</div>
                <div class="next-piece">NEXT PIECE 2</div>
                <div class="next-piece">NEXT PIECE 3</div>
            </div>
        </div>

        <script src="/javascripts/script.js"></script>
    </body>
</html>
