
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <title>Dragon Drop</title>
    </head>

    <body>
        <h1 class="title">Dragon Drop</h1>

        <p>Place:</p>

        <input id="startNum" type="text">

        <p>Type:</p>

        <select id="type">
            <option value="0">Square - small</option>
            <option value="1">Square - medium</option>
            <option value="2">Square - large</option>
            <option value="3">Rectangle - 2 - vertical</option>
            <option value="4">Rectangle - 2 - horizontal</option>
            <option value="5">Rectangle - 3 - vertical</option>
            <option value="6">Rectangle - 3 - horizontal</option>
            <option value="7">Rectangle - 4 - vertical</option>
            <option value="8">Rectangle - 4 - horizontal</option>
            <option value="9">Rectangle - 5 - vertical</option>
            <option value="10">Rectangle - 5 - horizontal</option>
            <option value="11">L shape small - 1</option>
            <option value="12">L shape small - 2</option>
            <option value="13">L shape small - 3</option>
            <option value="14">L shape small - 4</option>
            <option value="15">L shape large - 1</option>
            <option value="16">L shape large - 2</option>
            <option value="17">L shape large - 3</option>
            <option value="18">L shape large - 4</option>
        </select>
        <br>
        <button onclick="place()">Place piece</button>
        <br>
        <br>
        <br>
        <button onclick="testing()">Check and remove</button><br><br><br>
        <button onclick="clearBoard()">Clear board</button>

        <div class="main">
            <div class="header">
                <div class="best-score">Best 2291</div>
                <div class="current-score">Score 0</div>
            </div>

            <div class="board-frame">
                <div id="board"></div>
            </div>

            <div class="next-pieces">
                <div class="next-piece">NEXT PIECE 1</div>
                <div class="next-piece">NEXT PIECE 2</div>
                <div class="next-piece">NEXT PIECE 3</div>
            </div>
        </div>

        <!-- <p>Type:</p>

        <select id="type">
            <option value="square-small">Square - small</option>
            <option value="square-medium">Square - medium</option>
            <option value="square-large">Square - large</option>
            <option value="rectangle-2-vertical">Rectangle - 2 - vertical</option>
            <option value="rectangle-2-horizontal">Rectangle - 2 - horizontal</option>
            <option value="rectangle-3-vertical">Rectangle - 3 - vertical</option>
            <option value="rectangle-3-horizontal">Rectangle - 3 - horizontal</option>
            <option value="rectangle-4-vertical">Rectangle - 4 - vertical</option>
            <option value="rectangle-4-horizontal">Rectangle - 4 - horizontal</option>
            <option value="rectangle-5-vertical">Rectangle - 5 - vertical</option>
            <option value="rectangle-5-horizontal">Rectangle - 5 - horizontal</option>
            <option value="l-shape-small-1">L shape small - 1</option>
            <option value="l-shape-small-2">L shape small - 2</option>
            <option value="l-shape-small-3">L shape small - 3</option>
            <option value="l-shape-small-4">L shape small - 4</option>
            <option value="l-shape-large-1">L shape large - 1</option>
            <option value="l-shape-large-2">L shape large - 2</option>
            <option value="l-shape-large-3">L shape large - 3</option>
            <option value="l-shape-large-4">L shape large - 4</option>
        </select>

        <br><br>

        <button onclick="placePiece()">Place piece</button> -->

        <script src="/javascripts/pieces.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>
