
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>
            body {
                background-color: #e1f0fa;
            }

            td {
                border: 0.3px solid black;
                height: 30px;
                width: 30px;
                background-color: #7ee801;
            }

            table {
                border: 5px solid black;
            }

        </style>

        <title>Dragon Drop</title>
    </head>

    <body>
        <center>
            <h1>Dragon Drop</h1>
        </center>

        <div class="main">
            <div class="header">
                <center>
                    <div>Best 2291</div>
                    <div>Score 0</div>
                </center>
            </div>

            <div class="board-frame">
                <center>
                    <div id="board"></div>
                </center>
            </div>

            <div class="next-piece">
                <center>
                    <div class="next-1">NEXT PIECE</div>
                    <div class="next-2">NEXT PIECE</div>
                    <div class="next-3">NEXT PIECE</div>
                </center>
            </div>
        </div>

        <script src="/javascripts/script.js"></script>
    </body>
</html>
