
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>
            body {
                background-color: #e1f0fa;
            }

            td {
                border: 0.3px solid black;
                height: 30px;
                width: 30px;
                /*background-color: #7ee801;*/
            }

            table {
                border: 5px solid black;
            }

            .next-piece {
                /*margin: auto;*/
                border: 1px solid black;
                height: 100px;
            }

            .next-1 {
                background-color: blue;
                width: 100px;
                height: 80px;
                margin-right: 10px;
                float: left;
            }

            .next-2 {
                background-color: green;
                width: 100px;
                height: 80px;
                margin-right: 10px;
                float: left;
            }

            .next-3 {
                background-color: pink;
                width: 100px;
                height: 80px;
                float: left;
            }

            .testClass {
                margin: auto;
                background-image: url(http://www.animatedimages.org/data/media/188/animated-dragon-image-0204.gif);
                /*background-image: url(https://www.johnson-tiles.com/media/product/images/ter/Terrazzo_TRZ01F_Light_Stone_Textured_600x600mm.jpg.570x570_q85_crop_upscale.jpg);*/
                background-size: cover;
            }

        </style>

        <title>Dragon Drop</title>
    </head>

    <body>
        <center>
            <h1>Dragon Drop</h1>
        </center>

        <div class="main">
            <div class="header">
                <center>
                    <div>Best 2291</div>
                    <div>Score 0</div>
                </center>
            </div>

            <div class="board-frame">
                <!-- <center> -->
                    <div id="board"></div>
                <!-- </center> -->
            </div>

            <div class="next-piece">
                <!-- <center> -->
                    <div class="next-1">NEXT PIECE 1</div>
                    <div class="next-2">NEXT PIECE 2</div>
                    <div class="next-3">NEXT PIECE 3</div>
                <!-- </center> -->
            </div>
        </div>

        <script src="/javascripts/script.js"></script>
    </body>
</html>
