
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <title>Dragon Drop</title>
    </head>

    <body>
        <h1 class="title">Dragon Drop</h1>

        <div class="main">
            <div class="header">
                <div class="best-score">Best 2291</div>
                <div class="current-score">Score 0</div>
            </div>

            <div class="board-frame">
                <div id="board"></div>
            </div>

            <div class="next-pieces">
                <div class="next-piece">NEXT PIECE 1</div>
                <div class="next-piece">NEXT PIECE 2</div>
                <div class="next-piece">NEXT PIECE 3</div>
            </div>
        </div>

        <button onclick="square()">Square</button>
        <button onclick="squareTimesTwo()">Two scuares vertical & horizontal</button>
        <button onclick="squareTimesFour()">Four scuares</button>
        <button onclick="squareTimesNine()">Nine scuares</button>
        <button onclick="squareTimesFive()">Five scuares vertical & horizontal</button>
        <button onclick="squareSmallLShape()">L shape small</button>
        <button onclick="squareLargeLShape()">L shape large</button>

        <!-- <div style="height: 100px" id="bla" onclick="testingToggle()"></div> -->

        <script src="/javascripts/script.js"></script>
    </body>
</html>
