
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 24px;
}

td {
    border: none;
    height: 30px;
    width: 30px;
}

table {
    border-collapse: collapse;
    border: 5px solid #1e3450;
}

.title {
    text-align: center;
}

.header {
    margin: auto;
    text-align:center;
    width: 360px;
}

.best-score {
    border-top: 0.1px solid black;
    border-right: 0.1px solid black;
    border-left: 0.1px solid black;
    text-align: left;
    padding: 5px;
}

.current-score {
    text-align:left;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 30px;
    color: #95a5a6;
}

.board {
    margin: auto;
    background: url(../images/dragon.png);
    background-repeat: no-repeat;
    background-size: 330px 330px;
}

.next-pieces {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.next-piece {
    display:inline-block;
    width: 170px;
    height: 80px;
    margin: 5px;
    padding: 5px;
}

.singlePieceTable {
    border: none;
    display: inline-block;
}

.startNewGameButton {
    margin-top: 5%;
    height: 50px;
    width: 100px;
}

.newGame {
    text-align: center;
}

.color {
    background-color: #1e3450;
}

.no-color {
    background-color: transparent;
}

.play {
    margin-top: 5%;
    margin-left: 45%;
    height: 50px;
    width: 100px;
}

/* Movable pieces styling */

.pieceSize td {
    border: none;
    height: 10px;
    width: 10px;
}

.pieceSizeDraged td {
    border: none;
    height: 30px;
    width: 30px;
}

.backgroundShadow {
    background-color: grey;
}

