body {
    background-color: #e1f0fa;
}

td {
    border: 0.3px solid black;
    height: 30px;
    width: 30px;
}

table {
    border: 5px solid black;
}

.title {
    text-align: center;
}

.header {
    margin: auto;
    text-align:center;
    width: 360px;
}

.best-score {
    border-top: 0.1px solid black;
    border-right: 0.1px solid black;
    border-left: 0.1px solid black;
    text-align: left;
    padding: 5px;
}

.current-score {
    border: 0.1px solid black;
    text-align:left;
    padding: 5px;
}

.board {
    margin: auto;
    background-image: url(http://www.animatedimages.org/data/media/188/animated-dragon-image-0204.gif);
    background-size: cover;
}

.next-pieces {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.next-piece {
    width: 100px;
    height: 80px;
    margin: 5px;
    padding: 5px;
    border: 0.5px solid black;
    display:inline-block;
}


.color {
    background-color: white;
    /*background-color: #4e1608;*/
}

.no-color {
    background-color: transparent;
}






