body {
    background-color: #e1f0fa;
}

td {
    border: 0.03px solid black;
    height: 30px;
    width: 30px;
}

table {
    border: 5px solid black;
}

.test-table {
    border: none;
}

.title {
    text-align: center;
}

.header {
    margin: auto;
    text-align:center;
    width: 360px;
}

.best-score {
    border-top: 0.1px solid black;
    border-right: 0.1px solid black;
    border-left: 0.1px solid black;
    text-align: left;
    padding: 5px;
}

.current-score {
    border: 0.1px solid black;
    text-align:left;
    padding: 5px;
}

.board {
    margin: auto;
    /*background-image: url(https://image.freepik.com/free-vector/angry-dragon-silhouette_23-2147510357.jpg);*/
    /*background-image: url(../images/dragons_hero_Sentinel_P2.jpg);*/
    /*background-image: url(http://www.animatedimages.org/data/media/188/animated-dragon-image-0204.gif); // original image*/
    background-size: cover;
}

.next-pieces {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.next-piece {
    width: 170px;
    height: 80px;
    margin: 5px;
    padding: 5px;
    display:inline-block;
}


.color {
    background-color: #4e1608;
}

.no-color {
    background-color: transparent;
}

.play {
    margin-top: 5%;
    margin-left: 45%;
    height: 50px;
    width: 100px;
}

.hejhej td {
    border: none;
    height: 10px;
    width: 10px;
}

.hejhejhej td {
    border: none;
    height: 30px;
    width: 35px;
}













